.registrationContainer {
    border-radius: 10px;
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2em;
    background: var(--sgcTransparentGray);
}

.boxTabsContainer {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 23px;
    color: black;
}

.form {
    font-family: 'MuseoModerno', cursive;
    letter-spacing: 0.05em;
    width: 300px;
    margin: 0 auto;
}

.form .formItem {
    margin-top: 1em;
}
