.myAccountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
}

.btn {
    width: 30%;
}
