@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400&display=swap');

:root {
    --sgcBlack: #0D0D0D;
    --sgcOrange: #F26E50;
    --sgcLightBlue: #80BDF2;
    --sgcMediumBlue: #347EBF;
    --sgcDarkBlue: #0E3659;
    --sgcWhite: #F2E7DC;
    --sgcTransparentGray: rgba(241, 241, 241, 0.64);
}

body {
    font-family: 'MuseoModerno', cursive;
    background-image: url('/src/materials/backgroundSgc.svg');
    background-size: cover;
    background-position: center;
    padding-top: 9em;
}
